= form_for @tree_status do |f|
  - if @tree_status.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tree_status.errors.count, "error")} prohibited this tree_status from being saved:"
      %ul
        - @tree_status.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
