= simple_form_for @tree do |f|
  = f.input :common_name
  = f.input :genus
  = f.input :species
  = f.input :diameter_at_height
  = f.input :height
  = f.input :spread
  = f.input :grove
  = f.input :status
  = f.input :maint_date
  = f.input :plant_date
  = f.input :replace_date

  = f.association :agency, as: :radio_buttons
  = f.association :groups, as: :check_boxes

  = f.button :submit