= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]
%table
  %tr
    %th
      = sortable "common_name"
    %th
      = sortable "genus"
    %th
      = sortable "species"
    %th Diameter at height
    %th
      = sortable "height"
    %th Spread
    %th Grove
    %th
    %th
    %th

  - @trees.each do |tree|
    %tr
      %td= tree.common_name
      %td= tree.genus
      %td= tree.species
      %td= tree.diameter_at_height
      %td= tree.height
      %td= tree.spread
      %td= tree.grove
      %td= link_to 'Show', tree
      %td= link_to 'Edit', edit_tree_path(tree)
      %td= link_to 'Destroy', tree, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
= will_paginate @trees