%h3 Listing trees
%div{:data => {"pjax-container" => true}}
  %div{:class => "well pull-left"}

    = render 'agencies/list'
    %div{:class => "trees pull-left"}
      %table{:class => "table"}
        %tr
          %th Common Name
          %th Genus
          %th Species
          %th DBH
          %th Height
          %th Agency
          - @trees.each do |tree|
            %tr
              %td
                = link_to tree.tree_type.common_name, tree_path(tree)
              %td= tree.genus
              %td= tree.species
              %td= tree.diameter_at_height
              %td= tree.height
              %td
                - if tree.agency
                  = tree.agency.shortname
                - else

    = will_paginate @trees
